table img {
  width: 30px;
}
th {
  text-align: center;
}
td {
  text-align: center;
  padding-left: 10px;
}
table {
  border-collapse: separate;
  border-spacing: 25px 0;
  table-layout:fixed;
  width:100%;
  overflow-x: scroll;
}
.results tr {
    border: 1px solid #ddd;
}
.results table {
    border-collapse: collapse;
}

.container h2 {
  padding: 10px;
}
.jumbotron h1 {
  padding: 10px;
}
.jumbotron p {
  padding: 10px;
}
.jumbotron {
    background-color: #209CEE;
    color: white;
}
body {
  font-size: 0.8em;
}
.podium img {
  width: 30px;
}
.first {
  display: inline-block;
  width: 30%;
}
.second {
  display: inline-block;
  width: 30%;
}
.third {
  display: inline-block;
  width: 30%;
}
.card .card-img-top {
    width: 50%;
    margin: auto;
  }

.card {
    min-width: 200px;
    max-width: 200px;
    text-align: center;
}