@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

body {
  font-family: 'Open Sans', sans-serif;
}
table img {
  width: 30px;
}
th {
  text-align: center;
}
td {
  text-align: center;
  padding-left: 10px;
}
table {
  border-collapse: separate;
  border-spacing: 25px 0;
  table-layout:fixed;
  width:100%;
  overflow-x: scroll;
  font-size: 0.9em;
}
.results tr {
    border: 1px solid #ddd;
    padding: 1px;
}
.results table {
    border-collapse: collapse;
    overflow: auto;
    width: 100%;
    table-layout: auto;
}

.container h2 {
  padding: 10px;
}
.jumbotron h1 {
  padding: 10px;
}
.jumbotron p {
  padding: 10px;
}
.jumbotron {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(94,23,235,1) 35%, rgba(0,212,255,1) 100%);
  color: white;
  text-align: center;
}
body {
  font-size: 0.8em;
}
.podium {
    text-align: center;
}
.podium img {
  width: 30px;
}
.podium td {
    height: 100%;
    vertical-align: center;
    padding: 5px;
}
.step {
    width: 100%;
}
.first {
    height: 160px;
}
.second {
    height: 120px;
}
.third {   
    height: 80px;
}
.card .card-img-top {
    width: 50%;
    margin: auto;
  }

.card {
    min-width: 250px;
    max-width: 250px;
    text-align: center;
}
.race-image {
  width: 20px;
  position: absolute;
}
.live-race {
  position: relative;
  width: 95%;
  height: 200px;
  background: url('https://res.cloudinary.com/cc20/image/upload/e_vectorize,e_replace_color:green:50:brown,h_200/tozgowe5rlncj6fjzmrn.png') repeat;
  /*background: url('https://res.cloudinary.com/cc20/image/upload/w_100,f_auto/ei8vlxuqtdexpiowosfh.jpg') repeat;*/
}
.start-line {
  position: absolute;
  height: 100%;
  writing-mode: vertical-rl;
  text-align: center;
  background-color: gray;
  color: white;
  left: -1%;
  z-index: 0;
}
.finish-line {
  position: absolute;
  height: 100%;
  writing-mode: vertical-rl;
  text-align: center;
  background-color: gray;
  color: white;
  right: 0;
  z-index: 0;
}
.fence {
  position: absolute;
  height: 55%;
  top: 14%;
  width: 1.5%;
  background-color: brown;
  z-index: 0;
  transform: perspective(500px) rotateY(-45deg);
}
.f1 {
  left: 30%
}
.f2 {
  left: 50%
}
.f3 {
  left: 70%
}

