table img {
  width: 30px;
}
th {
  text-align: center;
}
td {
  text-align: center;
  padding-left: 10px;
}
table {
  border-collapse: separate;
  border-spacing: 10px 0;
}
.container h2 {
  padding: 10px;
}
.jumbotron h1 {
  padding: 10px;
}
.jumbotron p {
  padding: 10px;
}
body {
  font-size: 0.8em;
}
.podium img {
  width: 30px;
}
.first {
  display: inline-block;
  width: 30%;
}
.second {
  display: inline-block;
  width: 30%;
}
.third {
  display: inline-block;
  width: 30%;
}
